body {
    background-color: pink !important;
}

.girth-input>input, .length-input>input {
    width: 270px;
    height: 50px;
    font-size: 18px
}

.toast {
    /*visibility: hidden;*/
    background-color: #fff;
    color: pink;
    /*position: fixed;*/ /* Sits on top of the screen */
    bottom: 10px; /* Stick to bottom */
}

.toast.show {
    visibility: visible; /* Show the toast */
}
