body {
    background-color: pink !important;
}

.links>ul>li>a {
    text-decoration: none;
    color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.links>ul>li>a:hover {
    border: 1px solid pink;
    border-radius: 5px;
    padding: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.girth-input>input, .length-input>input {
    width: 230px;
    height: 30px;
    font-size: 18px
}

#update-ready {
    /* Set position as fixed so it stays fixed! */
    position: fixed !important;
    bottom: 0;
    width: 100%;
    /*height: 60px;*/
    /* Set the fixed height */
    /*line-height: 60px;*/
    background-color: #343A40;
    color: white;
}

#get-update {
    text-decoration: none;
    color: white;
}
